# Package Files #
*.war
*.ear

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases #
######################
*.log

# Backup Files #
###############
*~

# ignore all files in the build/ directory
build/
nbproject/


/DBProject/dist/